@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    <!-- FunShare icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!--bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <!-- 自訂 -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- 密碼眼睛 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <style>
        /*眼睛*/
        #checkEye {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "ResetPassword";
    }

    @Html.AntiForgeryToken()

    <div class="border d-flex justify-content-center align-items-center" style="width: 100%; height:calc(100vh)">
        <div class="col-md-3" style="width: 350px">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card  row g-3" style="padding: 30px" id="ChooseVerufucationMethod">
                <h2 class="text-center">請選擇驗證方式</h2>
                <div class="col-12 d-flex justify-content-center">
                    <input type="button" value="Email驗證" class="btn btn-success ms-2" id="EmailVerufucation" />
                    <input type="button" value="手機號碼驗證" class="btn btn-success ms-2" id="PhoneVerufucation" />
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <input id="btnLogin" type="button" value="返回" class="btn btn-secondary ms-2" onclick="history.back()" />
                </div>
            </div>

            <div class="card" style="padding: 30px; display:none" id="Verufucation">
                @Html.Partial("EmailVerufucationPartial")
            </div>
        </div>
    </div>

    <!-- MDB -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const ChooseVerufucationMethod = document.getElementById("ChooseVerufucationMethod");
        const Verufucation = document.getElementById("Verufucation");

        $('#EmailVerufucation').on('click', function () {
            ChooseVerufucationMethod.style.display = "none";
            Verufucation.style.display = "";
        })

        console.log(document.referrer);
    </script>

</body>

</html>