@{
    ViewData["Title"] = "即時客服";
    string userSrc = "";
}

<h1>ChatWindow</h1>

<section style="background-color: #FFFFFF;">
    <div class="container py-5">

        <div class="row">
            <div class="col-md-12">

                <div class="card" id="chat3" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row">
                            @*            左邊 *@
                            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                                <div class="p-3">

                                    @*                                     搜尋欄位 *@
                                    <div class="input-group rounded mb-3">
                                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                               aria-describedby="search-addon" />
                                        <span class="input-group-text border-0" id="search-addon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    @*         聊天list *@
                                    <div class="scroll" style="position: relative; height: 400px">
                                        <ul class="list-unstyled mb-0" id="chatList">
                                            @* <li class="p-2 border-bottom">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-success badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Marie Horwitz</p>
                                            <p class="small text-muted">Hello, Are you there?</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">Just now</p>
                                            <span class="badge bg-danger rounded-pill float-end">3</span>
                                            </div>
                                            </a>
                                            </li>
                                            <li class="p-2 border-bottom">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-warning badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Alexa Chung</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">5 mins ago</p>
                                            <span class="badge bg-danger rounded-pill float-end">2</span>
                                            </div>
                                            </a>
                                            </li>
                                            <li class="p-2 border-bottom">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-success badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Danny McChain</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">Yesterday</p>
                                            </div>
                                            </a>
                                            </li>
                                            <li class="p-2 border-bottom">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-danger badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Ashley Olsen</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">Yesterday</p>
                                            </div>
                                            </a>
                                            </li>
                                            <li class="p-2 border-bottom">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-warning badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Kate Moss</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">Yesterday</p>
                                            </div>
                                            </a>
                                            </li>
                                            <li class="p-2">
                                            <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                            <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                            alt="avatar" class="d-flex align-self-center me-3" width="60">
                                            <span class="badge bg-success badge-dot"></span>
                                            </div>
                                            <div class="pt-1">
                                            <p class="fw-bold mb-0">Ben Smith</p>
                                            <p class="small text-muted">Lorem ipsum dolor sit.</p>
                                            </div>
                                            </div>
                                            <div class="pt-1">
                                            <p class="small text-muted mb-1">Yesterday</p>
                                            </div>
                                            </a>
                                            </li> *@
                                        </ul>
                                    </div>

                                </div>

                            </div>
                            @*                  聊天室窗 *@
                            <div class="col-md-6 col-lg-7 col-xl-8">

                                <div class="pt-3 pe-3 scroll"
                                     style="position: relative; height: 400px" id="myChatBox">

                                    @*  <div class="d-flex flex-row justify-content-start">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Lorem ipsum
                                    dolor
                                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore
                                    magna aliqua.
                                    </p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                    <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Ut enim ad minim veniam,
                                    quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                    </div>
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    </div>

                                    <div class="d-flex flex-row justify-content-start">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Duis aute
                                    irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                    <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Excepteur sint occaecat
                                    cupidatat
                                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                    </div>
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    </div>

                                    <div class="d-flex flex-row justify-content-start">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Sed ut
                                    perspiciatis
                                    unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                    rem
                                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                    dicta
                                    sunt explicabo.
                                    </p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                    <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Nemo enim ipsam
                                    voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                    qui
                                    ratione voluptatem sequi nesciunt.
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                    </div>
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    </div>

                                    <div class="d-flex flex-row justify-content-start">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                    Neque porro
                                    quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam
                                    eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                    </p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                    </div>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                    <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                    Ut enim ad minima veniam,
                                    quis
                                    nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                                    commodi
                                    consequatur?
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                    </div>
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                                    </div> *@

                                </div>

                                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2" id="profilePhoto">
                                    @* <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 3" style="width: 40px; height: 100%;"> *@
                                    <input type="text" class="form-control form-control-lg" id="messageInput"
                                           placeholder="Type message">
                                    <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                                    <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                                    <a class="ms-3" href="#!" id="sendButton"><i class="fas fa-paper-plane"></i></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<div class="row" hidden>
    <div class="col-8">
        <h4>個人 ID: <span id="SelfID"><input type="text" class="form-control" id="senderIdInput"></span></h4>
        <div class="mb-3">
            <label for="message" class="form-label">發送訊息</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="sendToID" class="form-label">指定 ID</label>
            <input type="text" class="form-control" id="receiverIdInput">
        </div>
        <button type="button" class="btn btn-primary">傳送訊息</button>
    </div>
    <div class="col-4">
        <h4>連線 ID 列表</h4>
        <ul class="list-group" id="IDList">
        </ul>
    </div>
</div>

<button type="button" class="btn btn-sencondary" onclick="setText1()">Demo1</button>
<button type="button" class="btn btn-sencondary" onclick="setText2()">Demo2</button>


@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <!--MDB-->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script>
        //function generateRandomNumber(min, max) {
        //    return Math.floor(Math.random() * (max - min + 1)) + min;
        //}

        //宣告
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        let btnSentMessage = document.querySelector("#sendButton");
        let myPhoto = "";
        const messageContainer = document.getElementById("myChatBox");
        let setTime = `${new Date().toLocaleTimeString()}`

        //get cookie value
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        let idd = getCookie('sender')
        let receiverId;

        // console.log(document.cookie)
        // let id = document.cookie.split("=");
        // console.log(id)
        // let idd = id["2"];


        //這邊才是開始連線
        connection.start().then(() => {
            const connectionId = connection.connectionId;
            const senderId = idd;
            console.log(senderId)
            $("#senderIdInput").val(senderId);
            console.log("SignalR Connected. Connection ID: " + connectionId);
            // 呼叫後端的 UpdateUserInfo 方法，傳遞 accountId 和 connectionId
            connection.invoke('UpdateUserInfo', senderId, connectionId);
        }).catch(err => { console.error(err); setTimeout(start, 5000); });


        //這邊是等待後端有傳訊息說要執行的方法
        //像是後端跑到了await Clients.Client(connectionId).SendAsync("ReceiveMessage", senderId, message);
        //他呼叫符合connectionId條件的client執行ReceiveMessage這個名稱的方法
        connection.on("ReceiveMessage", function (senderId, message, receiverId) {
            console.log("這裡是ReceiveMessage，你接收到訊息會在下面印出:");
            console.log(message);
            console.log(senderId);
            console.log(receiverId)
            // 處理訊息的顯示等操作

            display(senderId, message);
            getChatList(senderId, receiverId, message)
            
            messageContainer.scrollTop = messageContainer.scrollHeight - messageContainer.clientHeight;

        });

        //這邊是執行的話會呼喚後端，叫他執行invoke後面的方法
        //如果後面還有想要處理的事情可以再接個.then()讓他做其他事情
        btnSentMessage.addEventListener('click', () => {//按下畫面上按鈕的事件
            const message = messageInput.value; // 取得使用者輸入的訊息
            const senderId = idd
            // const receiverId = receiverIdInput.value;


            if (message.trim() !== "") {//如果message移除空白後也不為空的話
                // 呼叫 SendPrivateMessage 方法傳送訊息
                connection.invoke('SendPrivateMessage', senderId, receiverId, message)
                    .catch(err => console.error(err)).then(() => {
                        // loadUser();
                        messageInput.value = '';
                        // keepDown();
                        console.log("監看傳訊有沒有成功btn");
                    });
                display(senderId, message);
                // newChat(senderId, receiverId, message)
                //if()
                sendChatList(senderId, receiverId, message);
                messageContainer.scrollTop = messageContainer.scrollHeight - messageContainer.clientHeight;
            }
        })

        //如果第一次傳訊息左邊chatlist 加入 todo...
        async function newChat(senderId, receiverId, message) {
            const response = await fetch(`@Url.Content("~/api/getCustomerMessage?userid=")${senderId}`)
            const datas = await response.json()

            if (senderId.substr(0, 1) == 'C') {

            } else {

            }

        }

        //ChatBox顯示
        async function display(senderId, message) {
            // const value = await getSupplier(senderId);
            // const datas = value;

            let datas = null;
            let myphotosrc = null;
            if (senderId.substr(0, 1) == 'C') {
                const value = await getCustomer(senderId);
                datas = value;
                myphotosrc = `data:image/jpg; base64,${datas[0].photo}`
            }
            else {
                const value = await getSupplier(senderId);
                datas = value;
                myphotosrc = `data:image/jpg; base64,${datas[0].logoImage}`
            }

            // const myphotosrc = $("#myPhoto").attr('src')
            if (senderId === idd) {
                $("#myChatBox").append(`
                                                    <div class="d-flex flex-row justify-content-end">
                                                        <div class="text">
                                                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                                                ${message}
                                                            </p>
                                                                    <p class="small me-3 mb-3 rounded-3 text-muted">${setTime}</p>
                                                        </div>
                                                        <img class="profilePhoto" src="${myphotosrc}"
                                                             alt="avatar 1" style="width: 45px; height: 50px;">
                                                    </div>
                        `)
            }
            else {
                $("#myChatBox").append(`
                                <div class="d-flex flex-row justify-content-start">
                                                        <img class="profilePhoto" src="${myphotosrc}"
                                                             alt="avatar 1" style="width: 45px; height: 50px;">
                                                        <div class="text">
                                                            <p class="small p-2 ms-3 mb-1 rounded-3 justify-content-start" style="background-color: #f5f6f7;">
                                                                        ${message}
                                                            </p>
                                                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">${setTime}</p>
                                                        </div>
                                                    </div>
                        `)
            }
        }

        //發訊息左邊ChatList顯示
        async function sendChatList(idd, receiverId, message) {
            const value = await loadUserList(idd)
            const datas = value;
            $(`#${receiverId}`).html(message)
        }
        //收訊息息左邊ChatList顯示
        async function getChatList(idd, receiverId, message) {
            const value = await loadUserList(idd)
            const datas = value;
            $(`#${idd}`).html(message)
        }

        //點擊左邊ChatList顯示右邊資料
        async function getRoom(roomid) {

            const response = await fetch(`@Url.Content("~/api/getCustomerMessage?userid=")${idd}`)
            const datas = await response.json()

            let item = "";
            const filterData = datas.filter(data => data.chatRoomId == roomid)

            console.log(receiverId)
            let items = filterData.map(data => {
                if (idd.substr(0, 1) == 'C') {
                    receiverId = "S" + filterData[0].supplierId;
                    console.log(receiverId)
                    myphotosrc = `data:image/jpg; base64,${data.customerPhoto}`
                    youphotosrc = `data:image/jpg; base64,${data.supplierPhoto}`
                    if (data.whoSend) {
                        item =
                            `
                                         <div class="d-flex flex-row justify-content-end">
                                                                <div class="text">
                                                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                                                                ${data.messageContent}
                                                                    </p>
                                                                    <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                                                </div>
                                                                <img class="profilePhoto" src="${myphotosrc}"
                                                                     alt="avatar 1" style="width: 45px; height: 50px;">
                                                            </div>
                                `
                    }
                    else {
                        item =
                            `
                                        <div class="d-flex flex-row justify-content-start">
                                                                        <img class="profilePhoto" src="${youphotosrc}"
                                                                     alt="avatar 1" style="width: 45px; height: 50px;">
                                                                <div class="text">
                                                                    <p class="small p-2 ms-3 mb-1 rounded-3 justify-content-start" style="background-color: #f5f6f7;">
                                                                                        ${data.messageContent}
                                                                    </p>
                                                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                                                </div>
                                                            </div>
                                `
                    }
                    return item
                }
                else {
                    receiverId = "C" + filterData[0].customerId;
                    console.log(receiverId)
                    myphotosrc = `data:image/jpg; base64,${data.supplierPhoto}`
                    youphotosrc = `data:image/jpg; base64,${data.customerPhoto}`
                    if (data.whoSend) {
                        item =
                            `
                                                         <div class="d-flex flex-row justify-content-start">
                                                                                <img class="profilePhoto" src="${youphotosrc}"
                                                                             alt="avatar 1" style="width: 45px; height: 50px;">
                                                                        <div class="text">
                                                                            <p class="small p-2 ms-3 mb-1 rounded-3 justify-content-start" style="background-color: #f5f6f7;">
                                                                                                ${data.messageContent}
                                                                            </p>
                                                                            <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                                                                        </div>
                                                                    </div>
                                        `
                    }
                    else {
                        item =
                            `
                                                        <div class="d-flex flex-row justify-content-end">
                                                                        <div class="text">
                                                                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                                                                                        ${data.messageContent}
                                                                            </p>
                                                                            <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                                                        </div>
                                                                        <img class="profilePhoto" src="${myphotosrc}"
                                                                             alt="avatar 1" style="width: 45px; height: 50px;">
                                                                    </div>
                                        `
                    }
                    return item
                }
            })
            $("#myChatBox").empty()
            $("#myChatBox").prepend(items)
            messageContainer.scrollTop = messageContainer.scrollHeight - messageContainer.clientHeight;
        }


        //用戶資料
        async function getCustomer(idd) {
            const id = idd.substring(1)
            const response = await fetch(`@Url.Content("~/api/getCusInfoForChat?customerid=")${id}`)
            const datas = await response.json()

            return datas;
        }
        //供應商資料
        async function getSupplier(idd) {
            const id = idd.substring(1)
            const response = await fetch(`@Url.Content("~/api/getSupInfoForChat?supplierid=")${id}`)
            const datas = await response.json()
            return datas;
        }
        //loaduser照片
        async function loaduser(idd) {
            let datas = null;
            if (idd.substr(0, 1) == 'C') {
                const value = await getCustomer(idd);
                datas = value;
                // 自己的大頭貼
                $("#profilePhoto").prepend(`<img class="profilePhoto" id="myPhoto"src="data:image/jpg; base64,${datas[0].photo}"
                                                                 alt="avatar 3" ">`)
            }
            else {
                const value = await getSupplier(idd);
                datas = value;

                // 自己的大頭貼
                $("#profilePhoto").prepend(`<img class="profilePhoto" id="myPhoto"src="data:image/jpg; base64,${datas[0].logoImage}"
                                                                         alt="avatar 3" ">`)
            }
        }
        loaduser(idd);

        //load 左邊聊天列表
        async function load(idd) {
            let datas2 = null;
            let items = null;
            if (idd.substr(0, 1) == 'C') {
                const value2 = await loadUserList(idd);
                datas2 = value2;


                // 聊天list
                items = datas2.map(data => {      //客戶
                    let rid = data.chatRoomId
                    let forid = data.supplierId
                    return (
                        `
                                                                                    <li onclick="getRoom(${rid})"class="p-2 border-bottom">
                                                                        <a href="#!" class="d-flex justify-content-between">
                                                                            <div class="d-flex flex-row">
                                                                                        <div class="imgMargin">
                                                                                                                    <img class="profilePhoto" src="data:image/jpg; base64,${data.supplierPhoto}"
                                                                                         alt="avatar" class="d-flex align-self-center me-3" width="60">

                                                                                </div>
                                                                                <div class="pt-1">
                                                                                                            <p class="fw-bold mb-0">${data.supplierName}</p>
                                                                                                                            <p id="S${data.supplierId}" class="small text-muted">${data.messageContent}</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="pt-1">
                                                                                <p class="small text-muted mb-1">Just now</p>
                                                                                <span class="badge bg-danger rounded-pill float-end">1</span>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                    `
                    )
                })

            }
            else {                  //供應商
                const value2 = await loadUserList(idd);
                datas2 = value2;

                // 聊天list
                items = datas2.map(data => {
                    let rid = data.chatRoomId
                    let forid = data.customerId
                    return (
                        `
                                                                                    <li onclick="getRoom(${rid})" class="p-2 border-bottom">
                                                                                <a href="#!" class="d-flex justify-content-between">
                                                                                    <div class="d-flex flex-row">
                                                                                        <div class="imgMargin">
                                                                                                                            <img class="profilePhoto" src="data:image/jpg; base64,${data.customerPhoto}"
                                                                                                 alt="avatar" class="d-flex align-self-center me-3" width="60">

                                                                                        </div>
                                                                                        <div class="pt-1">
                                                                                                                    <p class="fw-bold mb-0">${data.customerName}</p>
                                                                                                                                    <p id="C${data.customerId}" class="small text-muted">${data.messageContent}</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="pt-1">
                                                                                        <p class="small text-muted mb-1">Just now</p>
                                                                                        <span class="badge bg-danger rounded-pill float-end">1</span>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                            `
                    )
                })
            }

            $("#chatList").prepend(items)

        }
        $(document).ready(function () {
            load(idd);
        });


        //左邊聊天列表用戶資料
        async function loadUserList(idd) {
            // const id = idd.substring(1)
            const response = await fetch(`@Url.Content("~/api/getCustomerMessage?userid=")${idd}`)
            const datas = await response.json()
            const set = new Set();
            let filterdData = datas.filter(item => !set.has(item.chatRoomId) ? set.add(item.chatRoomId) : false);
            console.log(filterdData)
            return filterdData
        }


        function setText1() {
            $("#messageInput").val("您好:活動地點附近有公立停車場，訂單詳細頁中有地圖可以供參考")
        }
        function setText2() {
            $("#messageInput").val("感謝您的詢問，期待與您的相見!!")
        }

    </script>
   
}

@section Styles{
    <!--MDB-->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <style>
        

        #chat3 .form-control {
            border-color: transparent;
        }

            #chat3 .form-control:focus {
                border-color: transparent;
                box-shadow: inset 0px 0px 0px 1px transparent;
            }

        .badge-dot {
            border-radius: 50%;
            height: 10px;
            width: 10px;
            margin-left: 2.9rem;
            margin-top: -.75rem;
        }

        .scroll {
            overflow-y: scroll;
        }

        .profilePhoto {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        .imgMargin {
            margin-right: 15px;
        }

        .text {
            word-wrap: break-word;
        }
    </style>
}