@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>短期補習班補習和課程體驗服務契約書範本</title>
</head>
<body>	
	<h5 id="content">
		<div class="subheading">短期補習班補習服務契約書範本</div><br>
		94年8月30日台社(一)字第0940112280號公告<br>
		104年6月16日臺教社(一)字第1040077625A號函公告修正<br>
		107年4月19日臺教社(一)字第1070047136A號函公告修正<br>
		109年4月1日臺教社(一)字第1090044569A號函公告修正<br>
		<br>
		（封面）<br><br>
		契約審閱權<br>
		本定型化契約書(以下簡稱本契約)於中華民國○年○月○日經學生(甲方)攜回審閱○日。(契約審閱期間至少為五日)<br>


		（內文）<br><br>
		立約人　　　學生：（以下簡稱甲方）<br>
		教育機構：<div class="funshare">FunShare親子課程教育平台（以下簡稱乙方）</div><br>
		雙方同意訂立本契約書，約定下列各條款共同遵守：<br>
		第  一  條<br>    甲方於中華民國○年○月○日收受本契約。<br>
		<br>
		第　二　條<br>
		就讀班級：<br>
		班級名稱：<br>
		<br>
		第　三　條<br>　　課程科目與時數：<br>
		課程科目內容：<br>
		每週授課時數　小時，上課時間如課程表（附件一）。<br>
		<br>
		第　四　條 <br>   修業期間及開課日：<br>
		自中華民國○年○月○日至○年○月○日止(共分___期)，開課日為○年○月○日。<br>
		前項期間或開課日之認定，以甲乙雙方約定為準。<br>
		課程開始後始報名插班者，應以報名後最近一次上課日作為開課日(○年○月○日；未填列時以甲方實際第一次上課日為開課日)，並以該課程剩餘期間作為總課程時數。<br>
		<br>
		第　五　條<br>　　保證班保證內容：<br>
		保證內容為：<br>
		保證期間為：<br>
		<br>
		第　六　條<br>　　師資：<br>
		乙方聘請擔任各科教學人員如下：<br>
		科目名稱	教學人員姓名<br>
		<br>
		<br>
		乙方無正當事由不得任意更換教學人員，更換時應以相同專業資格者為限。<br>
		上述乙方更換教學人員之人數不得超過原聘總教學人員三分之一之人數。但乙方所聘總教學人員人數在二人以下者，以一人為限。<br><br>
		第　七　條<br>　　上課地點：<br>
		乙方應依規定於經核准之班址教室上課。<br>
		前項經核准之上課地點為：（應詳列門牌號碼）。
		<br>但如遇停水、停電或不可抗力之災害，乙方得調動上課地點及教室。各科目上課教室及時數如下：<br>
		科目名稱	上課教室	每週時數	全部時數<br>
		<br>



		第　八　條<br>　　上課人數上限及合班：<br>
		為提供良好學習環境及兼顧教學品質，乙方開設供甲方就讀之班級，其上課人數不得逾 　人。但共同科目於訂約時已經乙方聲明及告知甲方須合班上課者，不在此限，惟其人數及每人上課使用面積標準，不得違反各級主管機關訂定之法令規定。<br>
		乙方開設供甲方就讀之班級，其實際註冊人數未達第一項所定人數上限之三分之二者，經通知並得其同意後，得與其他同類班級合併開班，惟合併後之上課人數不得逾第一項所定人數上限。<br>
		乙方違反前二項規定者，甲方得終止契約並要求乙方退費。乙方應按甲方實際繳納之費用，依尚未上課時數比例核算應退費用加百分之   （不得低於百分之十）退還甲方。<br>
		甲方不同意合班或業者開班延期者，乙方應返還甲方已繳之費用。
		<br>
		第　九　條<br>    因可歸責於乙方之事由（如教學人員請假、排課錯誤等），使某課程一節或數節之既定上課時間暫時有所調動，致學生時間無法配合而缺課者，乙方應予以補課或提供該節課之錄音帶、錄影帶供學生補課用，或經比例計算後返還該節課程費用等。<br>

		第　十　條<br>　　收費手續：<br>
		（一）繳費項目及金額(附件二)：<br>
		1.繳費總金額新臺幣(以下同)　　　元<br>
		(1)學費　　　元<br>
		(2)雜費　　　元<br>
		(3)講義費　　　元<br>
		(4)代辦費　　　元(附件三)<br>
		名稱，例：報名費、訂位金、保險費…等）
		以上均應明列內容、金額及計算方式。<br>
		2.繳費項目未明列者，乙方不得向甲方收取。<br>
		3.如因繳費上課而獲得之贈品(價值不得逾繳費總金額百分之二十)，於契約終止或解除時，乙方不得向甲方請求返還該贈品，亦不得向甲方主張應自返還之費用金額當中，扣除該贈品之價額。乙方以贈送修業期限為內容而簽訂契約者，應將各該期限合併納入契約範圍。<br>
		（二）繳費方式：<br>
		□按月繳納。<br>
		□一次全部繳納。（○年○月○日前繳交）<br>
		□分期繳納。<br>
		1.修業期限逾六個月以上一年以下者，應分為二期；逾一年者，應分為三期，每期不得逾六個月。<br>
		2.分幾期與繳納時間、金額應明列，例如：第一期應於○年○月○日繳交      元；第二期應於○年○月○日繳交      元。<br>
		□甲方與第三人訂定消費者信用貸款契約(以下簡稱消費借貸契約)方式繳納：
		1.為協助甲方取得給付本補習服務之資金來源，乙方得提供甲方與第三人(以下簡稱貸款機構)訂定消費借貸契約之機會，供甲方自由決定，並由甲方自行辦理訂約事宜。<br>
		2.乙方應將下列約定告知甲方，並取得甲方聲明已受告知之證明文件；未經乙方告知，甲方得主張該消費借貸契約不生效力：<br>
		(1)甲方已充分瞭解與貸款機構訂定消費借貸契約，係指定用途之專案貸款，申貸款項將依甲方指示逕予撥款至前開乙方指定帳戶。<br>
		(2)該消費借貸契約之全部內容(包括利息計算方式、是否有信用保險、保證人之設定或涉入等資訊)。<br>
		(3)該貸款機構之名稱、負責人姓名、統一編號及其營業所或住居所地址、電話、傳真、網站網址、電子郵件地址、消費爭議服務專線電話號碼。<br>
		(4)辦理消費借貸，經核准七日內得隨時不附任何理由以書面通知乙方及貸款機構解除或終止該筆消費借貸契約。<br>
		(5)辦理消費借貸需遵守消費借貸契約之約定，依約定按期繳款，否則將衍生信用問題。<br>
		(6)終止或解除契約辦理退費時，乙方除貸款機構依消費借貸契約得收取之費用外，不得請求額外收取費用。<br>
		(7)乙方如有歇業、停業等無法繼續提供服務之情形時，甲方得主張遞延(預付)型商品或服務無法提供，於檢附催告乙方之存證信函或其他得證明乙方已無法繼續提供服務之佐證者，甲方得終止消費借貸契約，並向貸款機構申請止付乙方未提供服務部分之貸款餘額。但乙方已有提供履約保障且經甲方同意適用者，不在此限。<br>
		(8)如終止或解除本契約，消費借貸契約亦同時終止或解除。惟本契約之終止或解除，乙方能證明係因可歸責於甲方之事由所致者，貸款機構得逕向甲方收取乙方已提供服務之分期款。<br>
		甲方充分瞭解並知悉辦理消費者信用貸款所需遵守之約定，所為消費借貸如有消費糾紛或爭議，將影響個人日後信貸聲譽。<br>
		甲方簽章：<br>
		甲方未成年者，應經法定代理人簽章：<br>
		(三)乙方得於簽約前提供甲方試聽機會(形式不拘)。但乙方不得將試聽課程列為正式課程。<br>
		(四)乙方收取費用應開立正式收據交由甲方收執。<br>
		(五)乙方提供履約保障機制，應就下列方式之ㄧ為之，所為履約保障內容，應記載於契約正面明顯處。但乙方採按月繳納方式收取費用者，不適用履約保障機制之規定：<br>
		□	乙方應就收取費用總金額百分之三十額度，提供履約保證。依規定交付___ (信託業者名稱)開立信託專戶管理，乙方為委託人，且得自為受益人，並依實際交付信託額度，按期間之比例（年、季或月）自專戶領取。乙方發生解散、歇業、破產宣告、遭撤銷設立登記、假扣押或其他原因而導致無法履行服務契約義務者，視為乙方同意其受益權歸屬甲方或甲方之受讓人。前開信託期間自中華民國○年○月○日(簽約日)至中華民國○年○月○日止(至少一年)。<br>
		□	乙方已經___ (金融機構名稱)就收取費用總金額百分之三十額度，提供履約保證。前開保證期間自中華民國○年○月○日（簽約日）至中華民國○年○月○日(至少一年)。<br>
		□	乙方已加入由_______(單位名稱)辦理之補習服務聯合連帶保證協定(會員編號_______)，如乙方因財務問題或其他原因致其補習服務無法提供，甲方得於地方主管機關認定其無法提供補習服務時起六個月內向加入本協定之性質相近之補習班(以同一直轄市或縣市為原則)換取等值之服務（不包括原補習服務之贈品或贈送課程）；等值之服務除依一般方式授課外，得以多元之教學方式辦理。
		□	乙方已投保新臺幣○○萬元履約保證保險，作為辦理補習服務之履約保障(其投保最低金額為新臺幣二百萬元)，前開保險期間自中華民國○年○月○日(簽約日)至中華民國○年○月○日(至少一年)。<br>
		□ 其他經教育部同意之方式(須敘明該履約保證方式內容及教育部許可同意公文文號)。<br><br>


		第 十一 條<br>　　退費手續：<br>
		（一）依教育部訂定之短期補習班設立及管理準則及各直轄市、縣(市)政府訂定之短期補習班設立及管理自治法規之相關規定辦理。(詳如附件)<br>
		（二）如直轄市、縣(市)政府訂定更有利於消費者之規定者，從其規定。<br>
		（三）退費方式與期限<br>
		□現金(含匯款)<br>
		□信用卡<br>
		□即期支票<br>
		□其他(_______)<br>
		甲乙雙方所約定之退費方式應於辦理解約手續後一個月內執行完竣。如各級主管機關訂定更有利於消費者之規定者，從其規定。<br><br>

		第 十二 條　　甲方有下列情形之一者，乙方得終止契約：<br>
		（一）甲方於補習期間無故缺席超過總時數　　分之　　。<br>
		（二）甲方有互毆、竊盜、或其他違法行為，經乙方查明屬實，情節重大。
		（三）甲方經查有吸毒、販毒、或運送毒品行為。<br>
		依前項終止契約者，依前條退費手續之規定辦理。<br>
		甲方有第一項違規情事時，乙方應於三日內以書面通知當事人(甲方為未成年者應通知其法定代理人)。<br>
		<br>
		第 十三 條<br>　　乙方有下列情形之一者，甲方得終止契約，並要求乙方退費：<br>
		（一）無正當事由，變更原訂課程、科目、時數、上課地點或更換教學人員超過三分之一人數者，乙方應依甲方已繳金額費用加百分之  （不得低於百分之三十）退還甲方。<br>
		（二）乙方申請停辦，或經主管機關為停止招生或廢止設立之處分者，應按賸餘課程時數比例退還當期開班已繳費用予甲方。<br>
		（三）教室經政府機關公共安全檢查列為危險建築物勒令停止使用者，依尚未上課時數核算應退還費用予甲方。<br>

		第 十四 條<br>　　資料保護：<br>
		未經甲方書面同意，乙方不得擅自將甲方個人資料提供給第三人或作不當利用，其法律效果，依相關法律辦理。<br>

		第 十五 條<br>　　疑義之處理：<br>
		本契約各條款如有疑義時，應依消費者保護法第十一條第二項規定，為有利甲方之解釋。<br>

		第 十六 條<br>　　附件效力及契約分存：<br>
		本契約之附件及相關廣告視為本契約之一部分。本契約一式二份，由甲乙雙方各執一份為憑，並自簽約日起生效。<br>
		本契約甲乙雙方同意約定保存期限為　　年(不得少於稅捐稽徵期限所定五年)。<br>

		第 十七 條<br>　　未盡事宜之處理：<br>
		本契約如有未盡事宜，依相關法令、習慣及誠實信用原則公平解決之。<br>
		附件：<br>
		（一）課程表<br>
		（二）收據<br>
		（三）代辦費用明細表<br>
		（四）膳宿提供<br>


		立約書人　學生（簡稱甲方）：<br>
		姓名：<br>
		聯絡電話：<br>
		地址：<br>
		法定代理人：(甲方未成年者，應經法定代理人簽名)  關係：<br>
		姓名：<br>
		聯絡電話：<br>
		地址：<br>
		短期補習班（簡稱乙方）：<br>
		負責人：<br>
		設立人(或設立代表人)姓名：
		聯絡電話：<br>
		核准立案名稱全名：<br>
		核准字號：<br>
		地址：<br>
		傳真：<br>
		電子郵件：<br>
		網址：<br>
		<br>
		甲方為限制行為能力人時，須得法定代理人允許或承認，契約始為有效。甲方為無行為能力人時，應由其法定代理人代為或代受意思表示。<br>
		<br>
		中華民國       年       月       日
	</h5>

</body>
</html>

@section Styles {
	<style>
		body {
			background-color: #FCFCFC;
		}

		h1 {
			margin: 5px;
		}

		h4 {
			margin: 20px;
		}

		.funshare {
			color: red;
		}

		.subheading {
			color: blue;
		}

	</style>

		}
