@model prjFunShare_backend.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>新增訂單</h1>

<h4>請輸入訂單資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="OrderId" class="control-label">訂單編號</label>
                <input asp-for="OrderId" class="form-control" disabled />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTime" class="control-label">訂購時間</label>
                <input asp-for="OrderTime" class="form-control" disabled />
                <span asp-validation-for="OrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label">訂單狀態</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member" class="control-label">訂購人</label>
                <input asp-for="Member" class="form-control" />
                <span asp-validation-for="Member" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponId" class="control-label">產品名稱</label>
                <input asp-for="CouponId" class="form-control" asp-items="ViewBag.ProductList" />
                <span asp-validation-for="CouponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponId" class="control-label">產品金額</label>
                <input asp-for="CouponId" class="form-control" />
                <span asp-validation-for="CouponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label">付款狀態</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
                <a asp-action="OrderPreview" class="btn btn-info">回上頁</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
